@{
    ViewData["Title"] = "Om oss";
}
<h1>@ViewData["Title"]</h1>

<p class="about-us">Här kan du läsa om statistik gällande vaccinationer för Covid-19 i östersunds kommun.
    Statistiken presenteras visuellt i cirkel-diagram samt stapeldiagram. 
    Det går att sortera statistiken efter valda preferenser så som vaccin märke och batch-nummer samt
    även var vaccinet togs och folkboförings ort på den vaccinerade. 
</p>
